/* ubuntu-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-700 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-700italic - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-v15-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-regular - latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-italic - latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-italic.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-700italic - latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700italic.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* ubuntu-mono-700 - latin-ext_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ubuntu-mono-v10-latin-ext_latin_greek_cyrillic-ext-700.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* Junicode */
    @font-face {
    font-family: 'Junicode Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/Junicode-RegularCondensed.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/Junicode.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('/fonts/Junicode-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode Condensed';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('/fonts/Junicode-ItalicCondensed.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/fonts/Junicode-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode';
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('/fonts/Junicode-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode Condensed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/fonts/Junicode-BoldCondensed.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Junicode Condensed';
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('/fonts/Junicode-BoldItalicCondensed.woff') format('woff');
    }
